<%- include('header.ejs') %>

    <div class="catalogo">
      <h2>Catálogo</h2>
      <main class="grid">
        <% if (error) {%>
          <div class="error">
            <p><%= error %></p>
          </div>
        <% } else { %>
          <% anuncios.forEach(anuncio => {%>
          <div class="producto">
            <h5 id="nombre_producto"><%= anuncio.nombre %></h5>
            <% if (anuncio.venta) { %> <p>Se vende</p> <% } 
            else { %> <p>Se compra</p> <%}  %> 
            <p id="tags_producto">Categoria: <% anuncio.tags.forEach(tag => {%>
            <span> "<%= tag %>"</span>  <%}) %></p>
            <p id="precio_producto">Precio: <%= anuncio.precio %>€</p>
            <img src="/assets/img/ads/<%=anuncio.foto %>" alt=<%= anuncio.nombre %>>
          </div>
          <%}) %>
        <%} %> 
      </main>
    </div>
    
  
<%- include('footer.ejs') %>
